.sidemenu-container{
    position: absolute; 
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    top: 60px;
    left: 0; 
    z-index: 5;
    margin-left: 5px;

    h6{
        color: black;
    }
    
}